<meta name="viewport" content="width=device-width,initial-scale=1">

<%= stylesheet_link_tag "qr_codes", :media => "all" %>
<div class="first-block">
    <div class=p>read me</div>
    <img src="<%= @qr_code %>" alt="Album QR Code" class="QR">
</div>
