<html lang="ja">
<head>
<meta charset="UTF-8">
<title></title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>

</html>
    <%= stylesheet_link_tag "statics", :media => "all" %>

    <div class="first-block">
        <p class="title">プライバシーポリシー・きやく</p>
    </div>

    <div class="second-block">
        <p class="text">当サイトにアップされたコンテンツは、<br>
        オリジナルページ作成以外の目的では一切使用いたしません。<br>
        <br>
        また、SNSなどに共有する際は肖像権にご配慮ください。<br>
        当サイトを使用したことに関して生じたあらゆるトラブルには一切責任を持ちません。予めご了承ください。<br>
        当サイトをご使用されたと同時に上記の内容をご承知されたとみなします。</p>
    </div>