* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #C2E2D2;
}

.title {
    font-size: 48px;
    font-family: 'Darumadrop One';
    color: #ffffff;
    padding-top: 60px;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.setumei {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.second-block {
    margin-top: 57px;
    margin-bottom: 100px;
    text-align : strech;
}
